<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title%}{% endblock %}</title>
  <link rel="stylesheet" href="static/css/main2.css">
  <link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet">
</head>
<body>
    {% block contant %}
      Место для постов
    {% endblock contant %}
</body>
</html>
